.options{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.options label{
    display: flex;    
    justify-content: space-between;
}
.options label span{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}